<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini.dao.BoardDao">
<!-- (72)BoardMapper.xml에서 
id="totalCountOfBoard" 의 boarddb의 튜플 갯수 출력해주는 쿼리 작성 -->
	<select id="totalCountOfBoard" resultType="int">
		select count(*)
		from boarddb
	</select>
<!-- (74)BoardMapper.xml에서 
id="selectPagingOfBoard" 리그룹의 내림차순, 리스텝의 오름차순으로 정렬 -->	
	<select id="selectPagingOfBoard" parameterType="Map"
	resultType="BoardDto">
		select *
		from boarddb
		order by regroup desc,restep asc limit #{start},#{perpage} 
	</select>
<!-- (76)BoardMapper.xml에서 id="selectMaxNumOfBoard" 쿼리 작성한다. -->	
	<select id="selectMaxNumOfBoard" resultType="int">
		select ifnull(max(num),0)
		from boarddb
	</select>
<!-- (82)BoardMapper.xml에서 id="updateRestepOfBoard"작성
리그룹이 동일하고 리스텝이 큰건 모두 리스텝을 1 증가시켜라 -->	
	<update id="updateRestepOfBoard" parameterType="Map">
		update boarddb
		set restep=restep+1
		where regroup=#{regroup} and restep&gt;#{restep}
	</update>
<!-- (85)BoardMapper.xml에서id="insertBoard"작성  
boarddb에 튜플 추가, insert 후에 자동으로 들어간 guest_idx값을 얻어서 dto에 넣어 주는 SELECT LAST_INSERT_ID()
쿼리 추가-->	
	<insert id="insertBoard" parameterType="BoardDto">
		insert into boarddb(writer,myid,subject,content,regroup,restep,relevel,writeday)
		values (#{writer},#{myid},#{subject},#{content},#{regroup},#{restep},#{relevel},now())
		<selectKey keyProperty="num" resultType="int" order="AFTER">
				SELECT LAST_INSERT_ID()
		</selectKey>	
	</insert>
<!-- (88)boardmapper.xml에 id="updateReadCountOfBoard"작성하고 
입력받은 num과 동일한 튜플의 readcount를 1늘려줌 -->	
	<update id="updateReadCountOfBoard" parameterType="int">
		update boarddb
		set readcount=readcount+1
		where num=#{num}
	</update>
	
	<select id="selectDataByNum" parameterType="int" resultType="BoardDto">
		select *
		from boarddb
		where num=#{num}
	</select>
<!-- (116)boardmapper.xml에 id="updateBoard" 에서
 입력받은 num에서 subject와 content를 받은대로 바꿔주는 쿼리 -->	
	<update id="updateBoard" parameterType="BoardDto">
		update boarddb
		set subject=#{subject},content=#{content}
		where num=#{num}
	</update>
<!-- (119)boardmapper.xml에 id="deleteBoard"에서 입력받은 num에 대한 튜플 삭제해주는 쿼리 작성하기 -->	
	<delete id="deleteBoard" parameterType="int">
		delete 
		from boarddb
		where num=#{num}
	</delete>
	
	

</mapper>